.controlBlock {
	border-style: solid;
	border-radius: 12px; 
	width: 100px;
	height: 50px;
	background: #66ffff;
	padding: 15px;
	margin: 30px;
	display: inline-block;
}

#ledLabel {
	padding-bottom: 2px;
	display: inline;
}

#messagesBox{
	height: 300px;
	width: 200px;
}